VITE_APP_NAME=Elite Gym
VITE_CLIENT_URL=http://127.0.0.1:5173
VITE_ADMIN_URL=http://127.0.0.1:5173/#/admin

# A remplacer par les vraies valeurs Supabase quand la base en ligne sera creee.
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# A remplacer par le vrai lien marchand Wave Business ou une URL de checkout generee cote serveur.
VITE_WAVE_PAYMENT_LINK=https://pay.wave.com/m/elite-gym-demo
